@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
    --mpink: #FF70A6;
    --morange: #FF9770;
    --mpeach: #FFD670;
    --myellow: #E9FF70;
    --mwhite: #f2f2f2;
    --mblack: #403d39;
}
.App{
    font-family: 'Open Sans', sans-serif;
    background:var(--mpeach);
    display: flex;

}
.Auth{
    background: linear-gradient(to right, var(--mpink) ,var(--morange) ,var(--mpeach) ,var(--myellow)110%) ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authBox{
    background: linear-gradient(to right, var(--mpink) ,var(--morange) ,var(--mpeach) ,var(--myellow)110%) ;
    height: 350px;
    width: 250px;;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 5px 10px 8px black;
    border-radius: 10px;

}
h1{
    font-size: x-large;
    font-weight: bolder;
}
.btn:hover{
    cursor: pointer;
}
.btnBox{
    
    display: flex;
    width: 140px;
    justify-content: space-between;
}
.Nav{
    background: linear-gradient(to top, var(--mpink) ,var(--morange),var(--mpeach),var(--myellow)) ;

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 98vh;
    width: 80px;
    box-sizing: border-box;
    padding: 10px;
}
.navBox{
    height: 180px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
.Dashboard{
    background: var(--mwhite);
    width: 100%;
    box-sizing: border-box;
}
.logout{
}